@model IEnumerable<Domain.Entities.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<hl>All Products</hl>
<p>@Html.ActionLink("Add a new product", "CreateProduct")</p>
<table class="Grid">
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Category</th>
    <th class="NumericCol">Price</th>
    <th>Actions</th>
</tr>
@foreach (var item in Model) {
<tr>
    <td>@item.ProductID</td>
    <td>@Html.ActionLink(item.Name, "EditProduct", new { item.rowguid})</td>
    <td>@item.ProductCategory.Name</td>
    <td class="NumericCol">@item.StandardCost.ToString("c")</td>
    <td>
    @using (Html.BeginForm("DeleteCategory", "Admin")) {
        @Html.Hidden("rowguid",item.rowguid)
        <input type="submit" value="Delete"/>
    }
    </td>
</tr>
}
</table>

