<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="header">
        
        <div class="title">BIKE SHOP</div>
        @if (HttpContext.Current.User.Identity.IsAuthenticated)
        {
            <div class="user" style="padding-left: 0;padding-right: 0;background: initial;">
                <span>@Html.ActionLink("Log out","LogOut","Account",null,new {@class = "nocorner"})</span>
            </div>
            <div class="user">
                <span>Profile : @Html.ActionLink(HttpContext.Current.User.Identity.Name,"EditCustomer","Customer",null,new {@class = "nocorner"}) </span>
            </div>
            if (HttpContext.Current.User.IsInRole("user")) {Html.RenderAction("Summary", "Cart");}
            if (HttpContext.Current.User.IsInRole("admin"))
            {
                <div class="user" style="padding-left: 0;padding-right: 0;background: initial;">
                    <span>@Html.ActionLink("Admin","Product","Admin",null,new {@class = "nocorner"})</span>
                </div>
            }
        }else
        {
            <div class="user" style="padding-left: 0;padding-right: 0;background: initial;">
               <span>@Html.ActionLink("Log in","LogOn","Account",null,new {@class = "nocorner"})</span>
                <span>@Html.ActionLink("Register","Register","Account",null,new {@class = "nocorner"})</span>
            </div>
        }
    </div>
    <div id="categories">@{ Html.RenderAction("Menu", "Navigation"); }</div>
    <div id="content">@RenderBody()</div>
</body>
</html>
