@model Domain.Entities.Address
@{
    Layout = null;
}
<div class="country">@Model.CountryRegion</div>
<div class="state">@Model.StateProvince</div>
<div class="city">@Model.City</div>
<div class="address1">@Model.AddressLine1</div>
<div class="zip">@Model.PostalCode</div>
