@model WebUI.Models.VProductAndDescription
<div class="item">
    @{
        var img = Url.Action("GetImage", "Product", new {Model.ProductID});
        if (img != null)
        {
            <div style="float: left;margin: 0;padding: 0;">
                <img width="60" height="60" src="@img"/>
            </div>
        }
    }
    <h3>@Model.Name</h3>
    @Model.ProductModel
    @if (HttpContext.Current.User.IsInRole("user"))
    {
        using (Html.BeginForm("Add", "Cart"))
        {
            @Html.HiddenFor(x => x.ProductID)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="nocorner" value="Add"/>
        }
    }
    <h4>@Model.Description</h4>
</div>

