@model Domain.Entities.Product
<div class="item">
    @if (Model.ThumbNailPhoto != null)
    {
        <div style="float: left;margin: 0;padding: 0;">
            <img width="60" height="60" src="@Url.Action("GetImage","Product", new {Model.ProductID})"/>
        </div>
    }
    <h3>@Model.Name</h3>
    @Model.Weight
    @using(Html.BeginForm("Add","Cart"))
    {
        @Html.HiddenFor(x=>x.ProductID)
        @Html.Hidden("returnUrl",Request.Url.PathAndQuery)
        <input type="submit" class="nocorner" value="Add"/>
    }
    <h4>@Model.StandardCost.ToString("c")</h4>
</div>

