@model Domain.Entities.Product
<div class="item">
        <h3>@Model.Name</h3>
        @Model.Weight
    @using(Html.BeginForm("Add","Cart"))
    {
        @Html.HiddenFor(x=>x.ProductID)
        @Html.Hidden("returnUrl",Request.Url.PathAndQuery)
        <input type="submit" value="Add"/>
    }
        <h4>@Model.StandardCost.ToString("c")</h4>
    </div>

