@model WebUI.Models.CartViewModel

@{
    ViewBag.Title = "Bike Shop: Your Cart";
}

<h2>Your cart</h2>
<table width="90%" align="center">
    <thead><tr>
        <th align="center">Quantity</th>
        <th align="left">Item</th>
        <th align="right">Price</th>
        <th align="right">Subtotal</th>
    </tr></thead>
    <tbody>
        @foreach(var line in Model.CartItems) {
            <tr>
                <td align="center">@line.Quantity</td>
                <td align="left">@line.Product.Name</td>
                <td align="right">@line.Product.StandardCost.ToString("c")</td>
                <td align="right">@((line.Quantity * line.Product.StandardCost).ToString("c"))</td>
                <td>
                    
                @using (Html.BeginForm("Remove", "Cart")) {   
                    @Html.Hidden("ProductId", line.Product.ProductID)
                    @Html.HiddenFor(x => x.ReturnUrl)
                    <input class="actionButtons nocorner" type="submit" value="Remove" />
                }
                    
                </td>
            </tr>
        }
    </tbody>
    <tfoot><tr>
        <td colspan="3" align="right">Total:</td>
        <td align="right">
           @Model.CartItems.Sum(e => e.Product.StandardCost * e.Quantity).ToString("c")
        </td>
    </tr></tfoot>
</table>
<p align="center" class="actionButtons">
    <a href="@Model.ReturnUrl" class="nocorner">Continue shopping</a>
    @Html.ActionLink("Checkout now", "Checkout",null, new { @class = "nocorner" })
</p>